@page
@{
    ViewData["Title"] = "Catalog";
    @model IndexModel
}
<section class="esh-catalog-hero">
    <div class="container">
        <img class="esh-catalog-title" src="~/images/main_banner_text.png" />
    </div>
</section>
<section class="esh-catalog-filters">
    <div class="container">
        <div class="row">
         <div class="col">
        <form method="get">
            <label class="esh-catalog-label" data-title="View Type">
                <select asp-for="@Model.CatalogModel.ResultView"
                asp-items="@Model.CatalogModel.ResultViews" class="esh-catalog-filter"></select>
            </label>
            <label class="esh-catalog-label" data-title="brand">
                <select asp-for="@Model.CatalogModel.BrandFilterApplied"
                asp-items="@Model.CatalogModel.Brands" class="esh-catalog-filter"></select>
            </label>
            <label class="esh-catalog-label" data-title="type">
                <select asp-for="@Model.CatalogModel.TypesFilterApplied"
                asp-items="@Model.CatalogModel.Types"
                class="esh-catalog-filter">
                </select>
            </label>
            <input type="text" asp-for="@Model.CatalogModel.SearchText"
                value="@Model.CatalogModel.SearchText" />
            <input class="esh-catalog-send" type="image" src="images/arrow-right.svg" />
        </form>
        </div>
        <div class="col">
       <form asp-page="/Shared/Pdf/Pdf" method="post">
        <input class="esh-catalog-send" type="submit" value="Gerar Catalogo" />
       </form>
       @*<a class="esh-catalog-send" asp-page="/Shared/Pdf/Pdf"> [Gerar Catalogo] </a>*@ 
       </div>
       </div>
    </div>
</section>
<div class="container">
    @*<partial name="_StatusMessage" model="Model.StatusMessage" />*@
    
     @if (!String.IsNullOrEmpty(Model.StatusMessage))
    {
        <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>@Model.StatusMessage</strong>
    </div>
     }
    <p>@Model.CatalogModel.SearchText</p>
    @*<p>@Model.CatalogModel.ResultView</p>*@
    @if (Model.CatalogModel.CatalogItems.Any())
    {
        @await Html.PartialAsync("_pagination", Model.CatalogModel.PaginationInfo);

        switch (Model.CatalogModel.ResultView) {
            case ResultView.Grid:    
                <partial name="ResultViews/_gridView" for="@Model.CatalogModel.CatalogItems" />        
                break;
            case ResultView.List: {
                Func<dynamic, object> listItemTemplate = @<partial name="_product_mini" for="@item" />;
                var listViewModel = new ListViewModel {
                    Items = Model.CatalogModel.CatalogItems,
                    ItemTemplate = listItemTemplate
                };
                <partial name="ResultViews/_listView" for="@listViewModel" />
                break;
            }
            case ResultView.Table:
                <partial name="ResultViews/_tableView" for="CatalogModel.CatalogItems" />
                break;
        }
        @await Html.PartialAsync("_pagination", Model.CatalogModel.PaginationInfo);
    }
    else
    {
        <div class="esh-catalog-items row">
            THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
        </div>
    }
</div>
